# Predicting Yearly Salary Model!
**Creating a Machine Learning (ML) model capable of predicting the salaries of workers in programming and data science** can be useful for several reasons:

1. **Informed Decision-Making**: It helps professionals and employers make more informed decisions about compensation. Workers can negotiate fair salaries, and companies can offer competitive packages.

2. **Market Evaluation**: It allows companies to assess their position in the job market. Knowing how their employees' salaries compare to competitors is crucial for retaining talent and attracting new hires.

3. **Resource Optimization**: Companies can use these models to allocate resources more efficiently. For example, they can determine how much to pay a new employee based on their skills and experience.

4. **Identifying Salary Disparities**: It helps identify potential unfair salary gaps. If a model suggests disparities in compensation among employees with similar skills, measures can be taken to address this issue.

5. **Career Planning**: For professionals, having an idea of how their salary might evolve over time can assist in career planning. They can set goals and strategies to improve their income.

6. **Valuable Data Collection**: Building and training these models gathers valuable data about the job market, which can be useful for further studies and analysis.

7. **Transparency and Equity**: It promotes transparency and equity in compensation, as it is based on objective data rather than arbitrary decisions.

8. **Support for Strategic Decision-Making**: Companies can use these models to make strategic decisions about expanding their programming and data science teams, diversifying skills, and long-term planning.

In summary, creating an ML model to predict salaries in programming and data science can provide benefits to both employees and employers, improving fairness, efficiency, and decision-making in the job market.

In [1]:
import pandas as pd
import numpy as np

pd.set_option("display.max_rows", 50)
pd.set_option("display.max_columns", 50)
pd.options.display.float_format = "{:,.2f}".format

# Import the df created in the '../Exploratory_Analysis/1_Data_Preparation.ipynb'
df = pd.read_pickle("../../data/interim/interest_SO_survey_2023.pkl")

In [2]:
df.head()

,Age,BuyNewTool,Country,CoursesCert,CurrentJob,EdLevel,Employment,Industry,MainBranch,OSPersonal,OSProffesional,ProfessionalTech,RemoteWork,TargetAIDeveloper,TargetAISearch,TargetCollabTools,TargetDatabase,TargetFramework,TargetLanguage,TargetLibraries,TargetPlatform,TargetTools,WorkedAIDeveloper,WorkedAISearch,WorkedCollabTools,WorkedDatabase,WorkedFramework,WorkedLanguage,WorkedLibraries,WorkedPlatform,WorkedTools,WorkingYears,YearlySalary,YearsCode,YearsCodePro,z_BenefitsAI,z_FavorableAI,z_TrustAI,z_UsingAI
0,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25-34 years old,Start a free trial;Ask developers I know/work ...,United States of America,Other,"Senior Executive (C-Suite, VP, etc.)","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Employed, full-time","Information Services, IT, Software Development...",I am a developer by profession,iOS;iPadOS;MacOS;Windows;Windows Subsystem for...,MacOS;Windows;Windows Subsystem for Linux (WSL),DevOps function;Microservices;Automated testin...,Remote,GitHub Copilot,ChatGPT;Neeva AI,Vim;Visual Studio Code,Firebase Realtime Database;Supabase,Deno;Elm;Nuxt.js;React;Svelte;Vue.js,Bash/Shell (all shells);C#;Dart;Elixir;GDScrip...,Capacitor;Electron;Tauri;Uno Platform;Xamarin,Fly.io;Netlify;Render,Godot;npm;pnpm;Unity 3D;Unreal Engine;Vite;Web...,GitHub Copilot,ChatGPT,Vim;Visual Studio Code,Supabase,Next.js;React;Remix;Vue.js,HTML/CSS;JavaScript;Python,Electron;React Native;Tauri,Amazon Web Services (AWS);Netlify;Vercel,Docker;Kubernetes;npm;Pip;Vite;Webpack;Yarn,10.00,"285,000.00",18.00,9.00,Other (please explain),Indifferent,Somewhat distrust,Yes
2,45-54 years old,Start a free trial;Ask developers I know/work ...,United States of America,NaN,"Developer, back-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Employed, full-time","Information Services, IT, Software Development...",I am a developer by profession,MacOS;Other Linux-based,MacOS;Other Linux-based,DevOps function;Microservices;Automated testin...,"Hybrid (some remote, some in-person)",NaN,NaN,Emacs;Helix,NaN,NaN,Haskell;OCaml;Rust,NaN,NaN,Cargo;Kubernetes;Nix,NaN,NaN,Emacs;Helix,NaN,NaN,Bash/Shell (all shells);Go,NaN,Amazon Web Services (AWS);Google Cloud;OpenSta...,Cargo;Docker;Kubernetes;Make;Nix,23.00,"250,000.00",27.00,23.00,NaN,NaN,NaN,"No, and I don't plan to"
3,25-34 years old,Start a free trial;Ask developers I know/work ...,United States of America,NaN,"Developer, front-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Employed, full-time",NaN,I am a developer by profession,iOS;iPadOS;MacOS,iOS;iPadOS;MacOS,Automated testing;Continuous integration (CI) ...,"Hybrid (some remote, some in-person)",NaN,NaN,IntelliJ IDEA;Vim;WebStorm,PostgreSQL;Redis,Node.js;Ruby on Rails;Vue.js,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,NaN,Cloudflare;Heroku,Homebrew;npm;Vite,NaN,NaN,IntelliJ IDEA;Vim;Visual Studio Code;WebStorm,PostgreSQL;Redis,Node.js;React;Ruby on Rails;Vue.js;WordPress,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,NaN,Cloudflare;Heroku,Homebrew;npm;Vite;Webpack;Yarn,7.00,"156,000.00",12.00,7.00,NaN,NaN,NaN,"No, and I don't plan to"
4,25-34 years old,Start a free trial;Ask developers I know/work ...,Philippines,Other;Codecademy;edX,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Employed, full-time;Independent contractor, fr...",Other,I am a developer by profession,Other (Please Specify):,Other (Please Specify):,Microservices;Automated testing;Observability ...,Remote,NaN,ChatGPT,Vim;Visual Studio Code,Elasticsearch;MongoDB;PostgreSQL;Redis;Supabase,Express;NestJS;Next.js;Node.js;React;Remix;Vue.js,HTML/CSS;JavaScript;Python;Rust;TypeScript,NaN,Amazon Web Services (AWS);Cloudflare;Digital O...,Docker;npm;Yarn,NaN,ChatGPT,Vim;Visual Studio Code,BigQuery;Elasticsearch;MongoDB;PostgreSQL,Express;Gatsby;NestJS;Next.js;Node.js;React,HTML/CSS;JavaScript;TypeScript,NaN,Amazon Web Services (AWS);Firebase;Heroku;Netl...,Docker;npm;Webpack;Yarn,6.00,"23,456.00",6.00,4.00,Increase productivity;Greater efficiency;Speed...,Very favorable,Somewhat trust,Yes

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87981 entries, 0 to 87980
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                87981 non-null  object
 1   BuyNewTool         83009 non-null  object
 2   Country            87973 non-null  object
 3   CoursesCert        37076 non-null  object
 4   CurrentJob         76872 non-null  object
 5   EdLevel            87973 non-null  object
 6   Employment         87898 non-null  object
 7   Industry           36774 non-null  object
 8   MainBranch         87981 non-null  object
 9   OSPersonal         86557 non-null  object
 10  OSProffesional     78587 non-null  object
 11  ProfessionalTech   41783 non-null  object
 12  RemoteWork         73810 non-null  object
 13  TargetAIDeveloper  19587 non-null  object
 14  TargetAISearch     46150 non-null  object
 15  TargetCollabTools  76649 non-null  object
 16  TargetDatabase     60911 non-null  object
 17  TargetFramework    56741 non-null  object
 18  TargetLanguage     80709 non-null  object
 19  TargetLibraries    46848 non-null  object
 20  TargetPlatform     51308 non-null  object
 21  TargetTools        68315 non-null  object
 22  WorkedAIDeveloper  25904 non-null  object
 23  WorkedAISearch     56328 non-null  object
 24  WorkedCollabTools  85864 non-null  object
 25  WorkedDatabase     73435 non-null  object
 26  WorkedFramework    66938 non-null  object
 27  WorkedLanguage     87140 non-null  object
 28  WorkedLibraries    57019 non-null  object
 29  WorkedPlatform     63628 non-null  object
 30  WorkedTools        77884 non-null  object
 31  WorkingYears       43579 non-null  float64
 32  YearlySalary       48019 non-null  float64
 33  YearsCode          87435 non-null  float64
 34  YearsCodePro       66136 non-null  float64
 35  z_BenefitsAI       38594 non-null  object
 36  z_FavorableAI      61501 non-null  object
 37  z_TrustAI          61396 non-null  object
 38  z_UsingAI          87973 non-null  object
dtypes: float64(4), object(35)
memory usage: 26.2+ MB

In [4]:
df2 = df.dropna(subset=["YearlySalary"]).copy()
df2.isna().sum()

Age                      0
BuyNewTool            1817
Country                  0
CoursesCert          27275
CurrentJob             115
EdLevel                  0
Employment              12
Industry             20272
MainBranch               0
OSPersonal             485
OSProffesional        2989
ProfessionalTech     16293
RemoteWork              79
TargetAIDeveloper    37357
TargetAISearch       23813
TargetCollabTools     5405
TargetDatabase       12947
TargetFramework      15573
TargetLanguage        3448
TargetLibraries      21678
TargetPlatform       17610
TargetTools           9153
WorkedAIDeveloper    34079
WorkedAISearch       18534
WorkedCollabTools      584
WorkedDatabase        6255
WorkedFramework      10154
WorkedLanguage         136
WorkedLibraries      16250
WorkedPlatform       10644
WorkedTools           3964
WorkingYears         15381
YearlySalary             0
YearsCode               69
YearsCodePro           194
z_BenefitsAI         27414
z_FavorableAI        14901
z_TrustAI            14924
z_UsingAI                0
dtype: int64

In [5]:
# I prefer to fill this with 'Not_Responded' instead of dropping the column or the Nan values
df2["Industry"] = df2["Industry"].fillna("Not_Responded")
df2["Industry"] = df2["Industry"].apply(
    lambda x: "Technology"
    if x == "Information Services, IT, Software Development, or other Technology"
    else x
)
df2["Industry"] = df2["Industry"].apply(
    lambda x: "Manufacturing"
    if x == "Manufacturing, Transportation, or Supply Chain"
    else x
)
df2["Industry"] = df2["Industry"].apply(
    lambda x: "Retail" if x == "Retail and Consumer Services" else x
)
top_industry = df2["Industry"].value_counts().nlargest(8).index
df2["Industry"] = df2["Industry"].apply(lambda x: x if x in top_industry else "Other")
df2["Industry"].value_counts()

Industry
Not_Responded         20272
Technology            13469
Other                  4715
Financial Services     3441
Manufacturing          2001
Healthcare             1702
Retail                 1552
Higher Education        867
Name: count, dtype: int64

I will drop some features that will no be useful for my model like the target things,or those ones with too many missing values.

In [6]:
columns_to_drop = [
    "BuyNewTool",
    "CoursesCert",
    "ProfessionalTech",
    "TargetAIDeveloper",
    "TargetAISearch",
    "TargetCollabTools",
    "TargetDatabase",
    "TargetFramework",
    "TargetLanguage",
    "TargetLibraries",
    "TargetPlatform",
    "TargetTools",
    "WorkedAIDeveloper",
    "WorkedAISearch",
    "z_BenefitsAI",
    "z_FavorableAI",
    "z_TrustAI",
]
df3 = df2.drop(columns_to_drop, axis="columns").copy()
df3.isna().sum()

Age                      0
Country                  0
CurrentJob             115
EdLevel                  0
Employment              12
Industry                 0
MainBranch               0
OSPersonal             485
OSProffesional        2989
RemoteWork              79
WorkedCollabTools      584
WorkedDatabase        6255
WorkedFramework      10154
WorkedLanguage         136
WorkedLibraries      16250
WorkedPlatform       10644
WorkedTools           3964
WorkingYears         15381
YearlySalary             0
YearsCode               69
YearsCodePro           194
z_UsingAI                0
dtype: int64

In [8]:
df3["MainBranch"].value_counts()
df3["Developer"] = df3["MainBranch"].apply(
    lambda x: 1 if x == "I am a developer by profession" else 0
)

In [9]:
df3[["WorkingYears", "YearsCodePro"]].corr()

              WorkingYears  YearsCodePro
WorkingYears          1.00          0.93
YearsCodePro          0.93          1.00

Almost all the people are employed. I've already dealed with 'MainBranch' and 'WorkingYears' have too many missing values, and it is highly correlated with YearsCodePro, so I will drop it.

In [10]:
df3 = df3.drop(["Employment", "WorkingYears", "MainBranch"], axis="columns").copy()

In [11]:
df3["WorkedPlatform"].value_counts()
df3["WorkedFramework"].value_counts()
df3["WorkedLibraries"].value_counts()

WorkedLibraries
.NET (5+) ;.NET Framework (1.0 - 4.8)                                                                                                    2614
.NET (5+)                                                                                                                                2226
Spring Framework                                                                                                                         1471
React Native                                                                                                                              999
RabbitMQ                                                                                                                                  936
                                                                                                                                         ...
Flutter;Keras;TensorFlow                                                                                                                    1
CUDA;GTK;Hadoop;NumPy;Opencv;OpenGL;Pandas;Scikit-Learn;TensorFlow                                                                          1
Apache Kafka;Hadoop;Scikit-Learn;Spring Framework                                                                                           1
Cordova;Electron;Hugging Face Transformers;Ionic;Keras;NumPy;Opencv;Pandas;React Native;Scikit-Learn;SwiftUI;TensorFlow;Torch/PyTorch       1
.NET (5+) ;Apache Kafka;OpenGL;Qt                                                                                                           1
Name: count, Length: 5907, dtype: int64

In [12]:
df4 = df3.drop(
    ["WorkedPlatform", "WorkedFramework", "WorkedLibraries"], axis="columns"
).copy()

df4.info()

<class 'pandas.core.frame.DataFrame'>
Index: 48019 entries, 1 to 87968
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                48019 non-null  object
 1   Country            48019 non-null  object
 2   CurrentJob         47904 non-null  object
 3   EdLevel            48019 non-null  object
 4   Industry           48019 non-null  object
 5   OSPersonal         47534 non-null  object
 6   OSProffesional     45030 non-null  object
 7   RemoteWork         47940 non-null  object
 8   WorkedCollabTools  47435 non-null  object
 9   WorkedDatabase     41764 non-null  object
 10  WorkedLanguage     47883 non-null  object
 11  WorkedTools        44055 non-null  object
 12  YearlySalary       48019 non-null  float64
 13  YearsCode          47950 non-null  float64
 14  YearsCodePro       47825 non-null  float64
 15  z_UsingAI          48019 non-null  object
 16  Developer          48019 non-null  int64
dtypes: float64(3), int64(1), object(13)
memory usage: 6.6+ MB

To predict a worker's salary, these seems to be the most important features.

In [13]:
df4["z_UsingAI"].value_counts()
df4["z_UsingAI"] = df4["z_UsingAI"].apply(lambda x: 1 if x == "Yes" else 0)

len(df4["EdLevel"].unique())
df4["EdLevel"].value_counts()
df4.tail()
df4.reset_index(drop=True, inplace=True)

In [14]:
df4["OSProffesional"].fillna(df4["OSPersonal"], inplace=True)
df4.drop("OSPersonal", axis=1, inplace=True)

df["WorkedCollabTools"].value_counts()
# This column is too messy, the most is VSCode, I don't think it will be useful

df4.drop("WorkedCollabTools", axis=1, inplace=True)

df4["WorkedDatabase"].value_counts().nlargest(10)

df5 = df4.copy()

I have some options: Drop the 6255 nan values or fill them with the most common value. But, I don't think in real life, the database and the tools you work it's going to be a good predictor. Instead of the language you work with. In this case, SQL could be a really good factor

In [15]:
df5.drop(["WorkedDatabase", "WorkedTools"], axis=1, inplace=True)

df5.isna().sum()

Age                 0
Country             0
CurrentJob        115
EdLevel             0
Industry            0
OSProffesional    193
RemoteWork         79
WorkedLanguage    136
YearlySalary        0
YearsCode          69
YearsCodePro      194
z_UsingAI           0
Developer           0
dtype: int64

In [16]:
df5.dropna(inplace=True)
df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 47424 entries, 0 to 48018
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             47424 non-null  object
 1   Country         47424 non-null  object
 2   CurrentJob      47424 non-null  object
 3   EdLevel         47424 non-null  object
 4   Industry        47424 non-null  object
 5   OSProffesional  47424 non-null  object
 6   RemoteWork      47424 non-null  object
 7   WorkedLanguage  47424 non-null  object
 8   YearlySalary    47424 non-null  float64
 9   YearsCode       47424 non-null  float64
 10  YearsCodePro    47424 non-null  float64
 11  z_UsingAI       47424 non-null  int64
 12  Developer       47424 non-null  int64
dtypes: float64(3), int64(2), object(8)
memory usage: 5.1+ MB

In [18]:
# Remove YearlySalary outliers by the IQR method
df5.describe()
Q1 = df5["YearlySalary"].quantile(0.25)
Q3 = df5["YearlySalary"].quantile(0.75)
IQR = Q3 - Q1
df5 = df5[~((df5["YearlySalary"] < (Q1 - 1.5 * IQR))
        | (df5["YearlySalary"] > (Q3 + 1.5 * IQR))
    )]

In [19]:
df5.reset_index(drop=True, inplace=True)
df5

,Age,Country,CurrentJob,EdLevel,Industry,OSProffesional,RemoteWork,WorkedLanguage,YearlySalary,YearsCode,YearsCodePro,z_UsingAI,Developer
0,25-34 years old,United States of America,"Developer, front-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Not_Responded,iOS;iPadOS;MacOS,"Hybrid (some remote, some in-person)",Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,"156,000.00",12.00,7.00,0,1
1,25-34 years old,Philippines,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Other,Other (Please Specify):,Remote,HTML/CSS;JavaScript;TypeScript,"23,456.00",6.00,4.00,1,1
2,35-44 years old,United Kingdom of Great Britain and Northern I...,"Developer, back-end",Some college/university study without earning ...,Other,MacOS,Remote,Bash/Shell (all shells);HTML/CSS;JavaScript;Ru...,"96,828.00",21.00,21.00,1,1
3,35-44 years old,United States of America,"Developer, full-stack",Some college/university study without earning ...,Technology,MacOS,Remote,Ada;Clojure;Elixir;Go;HTML/CSS;Java;JavaScript...,"135,000.00",4.00,3.00,1,1
4,25-34 years old,United States of America,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Financial Services,MacOS;Ubuntu;Windows,Remote,Go;HTML/CSS;JavaScript;Python;Rust;SQL;TypeScript,"80,000.00",5.00,3.00,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44659,35-44 years old,Brazil,"Developer, back-end","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Technology,Windows,Remote,C;C++,"50,719.00",30.00,24.00,0,1
44660,18-24 years old,Armenia,"Developer, full-stack",Some college/university study without earning ...,Financial Services,Red Hat;Windows,In-person,Assembly;Bash/Shell (all shells);C;C#;C++;Java...,"16,917.00",7.00,2.00,0,1
44661,18-24 years old,India,"Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Retail,Android;MacOS,Remote,Dart;HTML/CSS;JavaScript;TypeScript,"15,752.00",6.00,2.00,1,1
44662,25-34 years old,France,Other (please specify):,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Other,Windows,"Hybrid (some remote, some in-person)",C#;F#;HTML/CSS;JavaScript;SQL;TypeScript,"64,254.00",18.00,9.00,1,1
44663,25-34 years old,Greece,"Developer, full-stack","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Technology,Windows,In-person,Java;JavaScript;TypeScript,"61,041.00",20.00,9.00,0,1

In [20]:
pd.to_pickle(df5, "../../data/interim/YearlySalary_model_p1.pkl")