In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',50)
pd.set_option('display.max_columns',50)
pd.options.display.float_format='{:,.2f}'.format
import sys
sys.path.append('..')
from utility import plot_settings

In [ ]:
# import sklearn decision trees libraries

In [4]:
df = pd.read_pickle('../../data/processed/YearlySalary_model_p2.pkl')
df.head()

,Age,CurrentJob,EdLevel,Industry,RemoteWork,YearlySalary,YearsCode,YearsCodePro,z_UsingAI,Developer,Region,MacOS,Linux,Windows,Other_OS,JavaScript,HTML/CSS,SQL,Python,TypeScript,Bash/Shell (all shells),Ruby,Other_Language
0,25-34 years old,"Developer, front-end","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Not_Responded,"Hybrid (some remote, some in-person)","156,000.00",12.00,7.00,0,1,North America,1,0,0,0,1,1,1,0,1,1,1,1
1,25-34 years old,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Other,Remote,"23,456.00",6.00,4.00,1,1,South Asia,0,0,0,1,1,1,0,0,1,0,0,0
2,35-44 years old,"Developer, back-end",Some college/university study without earning ...,Other,Remote,"96,828.00",21.00,21.00,1,1,Europe,1,0,0,0,1,1,1,0,1,1,1,0
3,35-44 years old,"Developer, full-stack",Some college/university study without earning ...,Technology,Remote,"135,000.00",4.00,3.00,1,1,North America,1,0,0,0,1,1,0,0,1,0,1,1
4,25-34 years old,"Developer, full-stack","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Financial Services,Remote,"80,000.00",5.00,3.00,1,1,North America,1,1,1,0,1,1,1,1,1,0,0,1

In [5]:
from sklearn.model_selection import train_test_split
X = df.drop('YearlySalary', axis=1)
y = df['YearlySalary']
X_train, X_, y_train, y_ = train_test_split(X, y, train_size=0.7, random_state=42)

In [7]:
X_test, X_new, y_test, y_new = train_test_split(X_, y_, train_size=0.66, random_state=42)

In [11]:
print(f" X_train % of X = {(len(X_train)/ len(X)) * 100}")
print(f" X_test % of X = {(len(X_test)/ len(X)) * 100}")
print(f" X_new % of X = {(len(X_new)/ len(X)) * 100}")

 X_train % of X = 69.99932809245448
 X_test % of X = 19.798875674707162
 X_new % of X = 10.201796232838362